# RVM / rbenv version files
.rvmrc
.rbenv-version

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle
vendor/bundle
bin

# logging
*.log

# jeweler generated
pkg

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## Rubymine
.idea

## PROJECT::GENERAL
*.rbc

## PROJECT::SPECIFIC
.rbx
